CompileFlags:
  Add:
    - -xc
    - -std=c11
    - -DN32WB452
    - -DUSE_STDPERIPH_DRIVER
    - -DRT_USING_NEWLIB
    - -DHAVE_SIGVAL
    - -DHAVE_SIGEVENT
    - -DHAVE_SIGINFO
    - -DHAVE_SYS_SELECT_H
    - -Iconfig
    - -Iapp
    - -Iapp/mode
    - -Iapp/session
    - -Iservices/cli
    - -Iservices/stream
    - -Iservices/log
    - -Iservices/usb
    - -Iboard
    - -IBSP/key
    - -IBSP/led
    - -IBSP/rdss
    - -IBSP/gnss
    - -Ifirmware/CMSIS/core
    - -Ifirmware/CMSIS/device
    - -Ifirmware/n32wb452_std_periph_driver/inc
    - -Imiddlewares/rt-thread/include
    - -Imiddlewares/rt-thread/include/libc
    - -IDeviceDrivers/inc
    - -IDeviceDrivers/gpio/inc
    - -IDeviceDrivers/uart/inc
    - -IDeviceDrivers/watchdog/inc
    - -Imiddlewares/rt-thread/components/drivers/include
    - -Imiddlewares/rt-thread/components/drivers/include/drivers
    - -Imiddlewares/rt-thread/components/drivers/include/ipc
    - -Imiddlewares/rt-thread/components/drivers/cherryusb/core
    - -Imiddlewares/rt-thread/components/drivers/cherryusb/common
    - -Imiddlewares/rt-thread/components/drivers/cherryusb/class/cdc
    - -Imiddlewares/rt-thread/components/drivers/cherryusb/port/fsdev
